<h2 class="heading searchDecoration">{{searchResult.firstName}} {{searchResult.lastName}}</h2>
<main>
    <dl>
        <dt class="parameter">ID</dt>
        <dd class="result">{{searchResult.id}}</dd>
        <dt class="parameter">First Name</dt>
        <dd class="result">{{searchResult.firstName}}</dd>
        <dt class="parameter">Last Name</dt>
        <dd class="result">{{searchResult.lastName}}</dd>
        <dt class="parameter">Address</dt>
        <dd class="result">{{searchResult.address}}</dd>
        <dt class="parameter">Zip Code</dt>
        <dd class="result">{{searchResult.zip}}</dd>
        <dt class="parameter">Phone</dt>
        <dd class="result">{{searchResult.phone}}</dd>
        <dt class="parameter">Social Security Number</dt>
        <dd class="result">{{searchResult.ssn}}</dd>
    </dl> 
</main>